.App {
  text-align: center;
color: #3c6e71;
background-color: white;
height: 100vh;
}
html {background-color: #ffffff}
h1{
  font-family: 'Audiowide', cursive;
}
a{
  color: lightblue
}
a:hover{
  color: blue
}
button{
  font-size: small;
  padding: 0.5%;
  background-color: aliceblue;
}
button:hover{
  background-color: lightblue;
  cursor: pointer;
}
.frame{
margin-left: 5%;
margin-right: 5%;
padding-bottom: 15%!important;
}
.info{
  font-size: smaller;
}

li{
  list-style: none;
}
ul{
  text-align: left;
}
form{
  display: flexbox;
}
.menu-table{
  width: 100%;
  border-collapse: collapse;
  align-items: flex-start;
  display: grid;
  grid-template: max-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 1rem;
}
.menu-table h2{
  text-align: center!important;
  font-size: medium;
  /*border-color: aliceblue;
  border-top-style: solid;*/
background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,245,212,0.5) 100%);
}
.menu-table h2:hover{
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(235, 255, 252) 100%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
td, thead{
  font-size: xx-small;
}
table{
  table-layout: fixed!important;
}
.results-section{
  display: flex;

}
.results-section img{
  display: block;
  width: fit-content;
}
.col1, .col2{
  flex: 50%;

}
.col-1{
  float: left;
}
.col-2{
float: right;
}
tbody{
  text-align: left;
}
table{
  display: flexbox;
}
td{
  padding: 0.25rem;
}
td, th{
  white-space: pre-line;
  border-left-style: solid;
  border-right-style: solid;
  border-color: white;
}
th, td{
  border-bottom-style: solid;
  border-color: gray;
}
.collapsible{
  color: blue;
  text-decoration: underline;
}
.sorting-buttons-column{
  display: inline-block;
}
.sorting-buttons{
  display: flex;
}
button{
  border-color: lightslategray;
}
textarea{
  font-style: normal;
  border: none;
  resize: none;
  overflow: hidden;
  outline:none;
  box-sizing: border-box;
}
li{
  display: block;
}
li textarea, li button{
  vertical-align: middle;
}